<video #videoElement [style.display]="'none'" [style.width.px]="0" [style.height.px]="0"></video>
<ng-container *ngIf="error" [ngTemplateOutlet]="errorSection"
    [ngTemplateOutletContext]="{ $implicit: error}"></ng-container>
<ng-container *ngIf="contentUrl && !isUploading && !error" [ngTemplateOutlet]="recordPreview"
    [ngTemplateOutletContext]="{ $implicit: contentUrl}"></ng-container>
<ng-container *ngIf="contentUrl && isUploading" [ngTemplateOutlet]="uploadingFile"></ng-container>
<ng-container *ngIf="!contentUrl && !error && !isUploading" [ngTemplateOutlet]="recordStartSection"></ng-container>

<ng-template #uploadingFile>
    <div
        style="margin-top: 16px; width: 100%; height: 100%; max-width: 300px;display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <img [src]="Assets.Gifs.Loading" alt="loading" srcset="" style="height: 48px;">
        <h5 style="text-align: center; max-width: 80%; margin: 16px 0 0 0; font-weight: 400; font-size: 1rem;"
            [ngStyle]="{color: primaryColor}">We are uploading your file. This may take some time. Please be
            patient</h5>
    </div>

</ng-template>

<ng-template #errorSection let-data>
    <div class="error-section">
        <span>{{data}}</span>
    </div>
</ng-template>

<ng-template #recordPreview let-data>
    <div style="width: 100%; box-sizing: border-box; padding: 8px; overflow : hidden;">

        <div class="video-preview" [style.display]="showImagepreview ? 'none': 'block'">
            <video controls>
                <source [src]="data">
                Unfortunately your browser doesn't playing this video format.
            </video>
        </div>
        <div class="attachment-messages" [style.display]="showImagepreview ? 'flex': 'none'">
            <img [src]="VideoFileIcon" alt="uploaded video file">
        </div>

        <div class="button-containers buttons-middle">
            <div class="button horizontal-contents" (click)="startRecording()">
                <img [src]="Assets.Images.Edit" alt="change">
                <span style="color: #D37242;">Change</span>
            </div>
            <div class="button horizontal-contents" (click)="onSubmitFile()">
                <img [src]="Assets.Images.Sumbit" alt="submit audio record">
                <span style="color: #237558;">Submit</span>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #recordStartSection>
    <div class="button-containers buttons-left">
        <div class="button horizontal-contents" (click)="startRecording()">
            <img [src]="Assets.Images.VideoCamera" alt="record video" srcset="">
            <span>Start recording</span>
        </div>
    </div>

</ng-template>