.chat-suggestion { 
    border-radius: 16px;
    border: 1px solid;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 3px; */
    padding: 8px 16px;
    margin: 4px;
    border-color: var(--suggestion-border-color);
    color: var(--suggestion-foreground-color);
    font-weight: 300;
    font-size: 0.8rem;
}

.chat-suggestion:hover { 
    border-color: var(--suggestion-border-color-hover);
    color: var(--suggestion-foreground-color-hover);
    font-weight: 400;
}