.record-cards {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    padding: 8px;
    box-sizing: border-box;
    --primary-color: #154881;
}

.record-card {
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
    background-color: white;
    border: 1px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 1px;
    opacity: 0;
    animation: scale-up 0.15s ease-in forwards;
    overflow: hidden;
}

@keyframes scale-up {
    0% {
        opacity: 0;
        transform: translateX(-100%) scale(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}


.record-card span {
    font-size: 14px;
    color: var(--default-text-color);
    font-weight: 400;

}

.record-card img {
    width: 36px
}

.record-card:hover {
    background-color: var(--primary-color);
}

.record-card:hover span {
    color: white;
}