<div class="choice-container" [style.--primary-color]="primaryColor">
    <div class="chat-choices" [style.flex-direction]="choices.length > 10 ? 'row' : 'column'"
        [style.align-items]="choices.length > 10 ? 'center' : 'flex-start'">
        <ng-container *ngFor="let choice of choices; let i=index; trackBy:trackChoice.bind(this)">
            <div (click)="selected$.next(choice)"
                [classList]="isSelected(choice) ? 'item-center chat-choice-selected': 'item-center chat-choice'">
                {{choice}}</div>

        </ng-container>
    </div>
    <ng-container *ngIf="isMultiChoice && selectedMap.size">
        <div class="button horizontal-contents" style="margin-top: 8px;" (click)="onSubmitMultiChoice()">
            <img [src]="Assets.Images.Sumbit" alt="submit audio record">
            <span style="color: #237558;">Submit</span>
        </div>
    </ng-container>
</div>