.choice-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    --primary-color: #36109d;
}

.chat-choices {
    flex: 1;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.item-center {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    user-select: none;
}

.chat-choice {
    font-size: 1rem;

    font-weight: 400;
    cursor: pointer;
    border-radius: 6px;
    background-color: #f9f9ff;
    color: var(--default-text-color-light);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 1px;
}

.chat-choice:hover {
    background-color: white;
    color: var(--default-text-color);
    border-left: 0.5px solid var(--primary-color);
    border-right: 0.5px solid var(--primary-color);
}

.chat-choice-selected {
    font-size: 1rem;

    cursor: pointer;
    color: var(--default-text-color);
    background-color: white;
    border-left: 3px solid var(--primary-color);
    border-right: 3px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px 1px;
    border-radius: 6px;
    font-weight: 400;
}

.button {
    user-select: none;
    cursor: pointer;
    width: fit-content;
    padding: 16px 16px 16px 8px;
    height: 40px;
    border-radius: 6px;
    background-color: white;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
    box-sizing: border-box;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 1px;
}

.horizontal-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.horizontal-contents img {
    height: 28px;
}

.button span {
    font-size: 1rem;
    color: var(--default-text-color);
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .chat-choice {
        font-size: 1.1rem;

    }

    .chat-choice-selected {
        font-size: 1.1rem;

    }

    .button span {
        font-size: 1.1rem;

    }
}