.choice-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    --primary-color: #36109d;
}

.chat-choices {
    flex: 1;
    display: flex;
    gap: 8px;
    padding: 4px;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-wrap: wrap;
    overflow: hidden;
}

.item-center {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    user-select: none;
}

.chat-choice {
    font-size: 14px;
    border: 1px solid var(--primary-color);
    font-weight: 400;
    cursor: pointer;
    border-radius: 6px;
    background-color: #f9f9ff;
    color: var(--default-text-color-light);
    opacity: 0;
    animation: scale-up 0.15s ease-in forwards;
    animation-delay: var(--delay);
    overflow: hidden;
}

@keyframes scale-up {
    0% {
        opacity: 0;
        transform: translateY(50%) scale(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.chat-choice:hover {
    background-color: var(--primary-color);
    color: white;
}

.chat-choice-selected {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 6px;
    color: white;
    background-color: var(--default-text-color-light);
}

.button {
    user-select: none;
    cursor: pointer;
    width: fit-content;
    padding: 16px 16px 16px 8px;
    height: 40px;
    border-radius: 6px;
    background-color: white;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
    box-sizing: border-box;
    margin: 4px;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 1px;
}

.horizontal-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.horizontal-contents img {
    height: 28px;
}

.button span {
    font-size: 14px;
    color: var(--default-text-color);
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .chat-choice {
        font-size: 16px;

    }

    .chat-choice-selected {
        font-size: 16px;

    }

    .button span {
        font-size: 16px;

    }
}