.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}

.video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 56px);
    object-fit: cover;
}

.top-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;

    background: linear-gradient(to bottom, #000, #000a, #0008, #0004);
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
    padding: 0 16px;
    box-sizing: border-box;
}

.bottom-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;

    background: linear-gradient(to top, #000, #000a, #0008, #0004);
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;
    padding: 0 16px;
    box-sizing: border-box;
}

.top-panel img {
    width: 32px;
    cursor: pointer;
    user-select: none;
}

.bottom-panel img {
    width: 40px;
    cursor: pointer;
    user-select: none;
}

.top-panel img:hover,
.bottom-panel img:hover,
.bottom-panel .button:hover img {
    border-radius: 50%;
    background-color: #0004;
}

.error-element {
    color: red;
    font-size: 15px;
    font-weight: 400;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

}

.button {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
    cursor: pointer;
    color: white;
}

.button span {
    font-weight: 400;
    font-size: 15px;
}

.button img {
    width: 36px;
}