<div class="container">
    <video #videoLive class="video-element" autoplay muted playsInline
        [style.display]="isReplaying ? 'none' : 'block'"></video>
    <video #videoRecorded class="video-element" controls playsInline
        [style.display]="isReplaying ? 'block' : 'none'"></video>
    <div class="top-panel">
        <img [src]="Assets.shared.images.CancelWhite" alt="Cancel Recording" srcset="" (click)="onCancelRecording()">
        <ng-container *ngIf="isMobileDevice && isBackcamera">
            <ng-container *ngIf="isFlashOn">
                <img [src]="Assets.shared.images.FlashOnWhite" alt="Turn off Flashlight" srcset=""
                    (click)="turnOnOffTorch2(false)">
            </ng-container>
            <ng-container *ngIf="!isFlashOn">
                <img [src]="Assets.shared.images.FlashOffWhite" alt="Turn on Flashlight" srcset=""
                    (click)="turnOnOffTorch2(true)">
            </ng-container>
        </ng-container>

    </div>
    <ng-container *ngIf="isCameraRunning">
        <div class="bottom-panel">
            <ng-container *ngIf="!isRecording">
                <div class="button" (click)="startRecording2()">
                    <img [src]="Assets.shared.images.StartRecording" alt="Start Recording">
                    <span>Start Recording</span>
                </div>
                <ng-container *ngIf="allowSwitchingCamera">
                    <img [src]="Assets.shared.images.FlipCamera" alt="Switch camera" (click)="switchCamera()">
                </ng-container>
            </ng-container>
            <ng-container *ngIf="isRecording">
                <div class="button" (click)="stopRecording2()">
                    <img [src]="Assets.shared.images.StopRecording" alt="Stop Recording">
                    <span>Stop</span>
                </div>
                <time-span [color]="'white'" [timeElapsed]="timeElapsed"></time-span>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="!isCameraRunning && isReplaying">
        <div class="bottom-panel">
            <div class="button" (click)="onSubmitFile()">
                <img [src]="Assets.shared.images.DoneWhite" alt="Done">
                <span>Submit</span>
            </div>
            <div class="button" (click)="tryAgain()">
                <span>Try Again</span>
                <img [src]="Assets.shared.images.ReloadWhite" alt="Try again">
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="(error$ | async) as error">
        <div class="error-element">{{error}}</div>
    </ng-container>
</div>