<div class="action-container">
    <div style="width: 100%; height: 100%; display: flex; flex-direction: column; gap: 8px;">
        <div style="flex: 1;">
            <ng-container [ngSwitch]="action.ActionType">
                <ng-container *ngSwitchCase="ChatActionTypes.ChooseOption" [ngTemplateOutlet]="choiceview"
                    [ngTemplateOutletContext]="{$implicit: false}"></ng-container>
                <ng-container *ngSwitchCase="ChatActionTypes.ChooseOptions" [ngTemplateOutlet]="choiceview"
                    [ngTemplateOutletContext]="{$implicit: true}"></ng-container>
                <ng-container *ngSwitchCase="ChatActionTypes.ShowRecord" [ngTemplateOutlet]="recordview">
                </ng-container>
                <ng-container *ngSwitchCase="ChatActionTypes.ShowRecords" [ngTemplateOutlet]="recordview">
                </ng-container>
                <ng-container *ngSwitchCase="ChatActionTypes.UploadFile" [ngTemplateOutlet]="uploadfile"
                    [ngTemplateOutletContext]="{$implicit: action.ActionAttachmentAttributes || {
                        MaxFileSizeInMb: 200
                    }}"></ng-container>
                <ng-container *ngSwitchCase="ChatActionTypes.RecordAudio" [ngTemplateOutlet]="recordaudio"
                    [ngTemplateOutletContext]="{$implicit: action.ActionAttachmentAttributes || {
                        MaxFileSizeInMb: 200,
                        DurationInSec: 60
                    }}"></ng-container>
                <ng-container *ngSwitchCase="ChatActionTypes.RecordVideo" [ngTemplateOutlet]="recordVideo"
                    [ngTemplateOutletContext]="{$implicit: action.ActionAttachmentAttributes || {
                        MaxFileSizeInMb: 200,
                        DurationInSec: 60
                    }}"></ng-container>

                <ng-container *ngSwitchCase="ChatActionTypes.CreateSchedule" [ngTemplateOutlet]="makeAppointment"
                    [ngTemplateOutletContext]="{$implicit: action.ActionScheduleAttributes || {
                        ScheduleEventLink: '',
                        ScheduleCompleteRedirectionLink: '',
                        OnCompleteMessageFormat: ''
                    }}"></ng-container>

                <ng-container *ngSwitchCase="ChatActionTypes.TakePicture" [ngTemplateOutlet]="takephoto"
                    [ngTemplateOutletContext]="{$implicit: action.CaptureImageDataAttributes || {
                                DisableSwitchingCamera: false,
                                IsDefaultToFrontCamera: true
                            }}"></ng-container>
                <ng-container *ngSwitchCase="ChatActionTypes.ShareLocation"
                    [ngTemplateOutlet]="takelocation"></ng-container>
                <ng-container *ngSwitchCase="ChatActionTypes.ScanQRCode" [ngTemplateOutlet]="codescan"></ng-container>
            </ng-container>
        </div>
        <ng-container
            *ngIf="action.ActionType !== ChatActionTypes.ShowRecord && action.ActionType !== ChatActionTypes.ShowRecords">
            <span (click)="onSubmitReply('SKIP')" class="skip-button"
                style="flex: 0 1 auto; padding: 0 8px; box-sizing: border-box;">SKIP</span>
        </ng-container>

    </div>


</div>

<ng-template #choiceview let-data>
    <ng-container *ngIf="action.ActionChoiceAttributes && action.ActionChoiceAttributes.Choices">
        <chat-choice [primaryColor]="primaryColor" [choices]="action.ActionChoiceAttributes.Choices|choices"
            [isMultiChoice]="data" (choiceSelected)="onSubmitReply($event, PreviewTypes.Pill)"></chat-choice>
    </ng-container>
</ng-template>

<ng-template #recordview>
    <chat-record [primaryColor]="primaryColor" [records]="action.ActionListAttributes?.RecordList || []"></chat-record>
</ng-template>
<ng-template #uploadfile let-data>
    <chat-upload [data]="data" [primaryColor]="primaryColor" (fileSubmitted)="onFileSelected($event)"></chat-upload>
</ng-template>

<ng-template #recordaudio let-data>
    <chat-audio-recorder [primaryColor]="primaryColor" [maxFileSizeInMb]="data.MaxFileSizeInMb"
        [maxRecordingDurationInSec]="data.DurationInSec" (fileSubmitted)="onFileSelected($event)"></chat-audio-recorder>
</ng-template>

<ng-template #recordVideo let-data>
    <chat-video-recorder [primaryColor]="primaryColor" [maximumFileSizeInMb]="data.MaxFileSizeInMb"
        [durationInSec]="data.DurationInSec" (readyToRecordVideo)="startRecordingVideo($event)"
        (fileSubmitted)="onFileSelected($event)"></chat-video-recorder>
</ng-template>

<ng-template #makeAppointment let-data>
    <chat-schedular-view [attribute]="data" (requestOpenAppointment)="onOpenAppointmentWindowRequest($event)"
        (submitReply)="onReceiveScheduleRequest($event)"></chat-schedular-view>
</ng-template>

<ng-template #takephoto let-data>
    <chat-photo [disableSwitchingCamera]="data.DisableSwitchingCamera"
        (capturePhotoRequested)="onPhotoCaptureRequested($event)" (submitPhoto)="onFileSelected($event)"></chat-photo>
</ng-template>

<ng-template #takelocation>
    <chat-location (geoLocationReceived)="onGeoLocationReceived($event)"></chat-location>
</ng-template>

<ng-template #codescan>
    <chat-scan (requestCodeScan)="onRequestCodeScan()"></chat-scan>
</ng-template>