<!-- <div  class="box-container">
  <ng-container *ngFor="let entry of array">
    <div class="box">
      <div class="box-text">{{entry}}</div>
    </div>
  </ng-container>
  
</div> -->


<ca-ai-chat-popup-container
  #chatContainer
  [title]="'Talk to AI'"
  [botname]="'AI Assistant'"
  [username]="'User 0213'"
  [cancelontouchoutside]="true"
  [addgloweffect]="true"
  
></ca-ai-chat-popup-container>

<div class="chat-container" >
  <ca-chat-container
  #chatsimple
    [title]="'Talk to AI'"
    [botname]="'AI Assistant'"
    [username]="'Participants'"
    [instanceurl]="'https://dev-api.cloudapper.com'"
    hidden
  ></ca-chat-container>
</div>