<div class="capture-container">
    <ng-container *ngIf="error$ | async as error">
        <h3 class="error">{{error}}</h3>
    </ng-container>
    <canvas #Canvas style="display: none;"></canvas>
    <video [style.display]="!isPreviewing && !(error$ | async) ? 'block' : 'none'" [playsInline]="true"
        [autoplay]="false" #VideoElement></video>

    <ng-container *ngIf="isPreviewing && dataUrl">
        <div class="preview">
            <img [src]="dataUrl" alt="" srcset="">
        </div>
    </ng-container>


    <div class="top-controls" [style.display]="!isPreviewing && !(error$ | async) ? 'flex' : 'none'">
        <ng-container *ngIf="!isPreviewing && availableDevices.length;">
            <div class="button" (click)="rotateCameraClicked()">
                <img [src]="Assets.Images.RotateCamera" alt="Rotate camera">
            </div>
        </ng-container>

    </div>

    <div class="controls" [style.display]="(error$ | async) ? 'none' : 'flex'">
        <ng-container *ngIf="isPreviewing; else capturing">
            <div class="button" (click)="submitImageClicked()">
                <img [src]="Assets.Images.Submit" alt="Submit">
            </div>
            <div class="button" (click)="refreshImageClicked()">
                <img [src]="Assets.Images.Refresh2" alt="Capture Again">
            </div>
        </ng-container>
        <ng-template #capturing>
            <div class="capture" (click)="captureImageClicked()"></div>
        </ng-template>
    </div>
</div>