<div class="camera-container">
    <web-cam #webcam [autocapture]="true" [allowOverlay]="true" (videoReady)="onVideoReady($event)"
        (videoEnded)="onVideoEnded()" (captureCompleted)="onCaptured($event)"></web-cam>
    <ng-container *ngIf="(modelLoaded$ | async) && (videoReady$ | async) && (instructiontext$ | async) as instruction">
        <div class="instruction">
            <span>{{translation(instruction)}}</span>
        </div>
    </ng-container>
    <ng-container *ngIf="loadError$ | async as error">
        <h5 class="error-view"> {{error}}</h5>
    </ng-container>
</div>