.chat-box-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: rgba(107, 107, 110, 0.2) 0px 7px 29px 0px;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
}

.chat-box-bubble:hover { 
    transform: scale(1.1);
}

.chat-box-bubble img {
    max-width: 36px;
    animation: chat-box-bubble-img-animation 0.3s linear;
}

@keyframes chat-box-bubble-img-animation { 
    100% {
        transform: scale(1);
    }
    0% {
        transform: scale(0);
    }
}


.chat-box-bubble-left {
    position: absolute;
    bottom: -72px;
    left: -12px;
}

.chat-box-bubble-right {
    position: absolute;
    bottom: -72px;
    right: -12px;
}

.chat-box-bubble-text {
    z-index: 1100;
    position: absolute;
    background-color: var(--bubble-background-color); 
    color: var(--bubble-foreground-color); 
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    display: inline-block;
}

.chat-box-bubble-text p {
    margin: 0;
}
.chat-box-bubble-text-left {
    right: -200px;
    top: 20px;
    animation: chat-bubble-text-grow-left 0.5s ease-in-out;
}

@keyframes chat-bubble-text-grow-left {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    10% {
        opacity: 0;
        transform: scaleX(0) translateX(-100%);
    }

    100% {
        width: auto;
        opacity: 1;
        transform: scaleX(1) translateX(0);
    }
}

.chat-box-bubble-text-left::before { 
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: var(--bubble-background-color) transparent  transparent transparent ; 
    transform: translateY(-50%);
}

.chat-box-bubble-text-right {
    left: -200px;
    top: 20px;
    animation: chat-bubble-text-grow-right 0.5s ease;
}

@keyframes chat-bubble-text-grow-right {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    10% {
        opacity: 0;
        transform: scaleX(0) translateX(100%);
    }

    100% {
        width: auto;
        opacity: 1;
        transform: scaleX(1) translateX(0);
    }
}

.chat-box-bubble-text-right::before { 
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: var(--bubble-background-color) transparent  transparent transparent ; 
    transform: translateY(-50%);
}