<ng-container *ngIf="showChatWindow">
    <ng-container *ngIf="initialParameter.cancelOnClickOutside">
        <div class="chat-container-background" (click)="tryToCloseWindow()"></div>
    </ng-container>
    <div @chatBox [className]="chatBoxClass">
        <ca-chat-box 
            #chatBox
            [initialParameters]="initialParameter"
            (userReplySubmitted)="onReceiveUserReply($event)"
        ></ca-chat-box>
        <div (click)="closeChatWindow()" [className]="chatBoxBubbleClass" [ngStyle]="{ 'background-color': initialParameter.windowColors.primaryColor }">
            <img 
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAkRJREFUaEPtmM1KVVEUx38rwTdokpMU+sCROOgJ/IACG0QFPoNWZIg4ahQRGpY9Q1DRoCDB8gkcSCOxhLwTm/gGQi1Zsg5sL9fL2eeD2LTP9O6zzv9rrbvOERK/JHH8ZAL/2sHsQHagpgI5QjUFrH17dqC2hDUL/J8OqOogMAocAb9FRKsIqaom4CXgIrArIsexdaIdcPD3gafANrAsIgexD7bzqjoMPANueL13sSSqEBgDPgIjwF/gM7AoIvsxJFT1CvACmAEuAL+AOyLyPaZOFQJDwApwzx9s8fkKPBKRvTIPV9XrwBowBacLpQnxHngiIodlahRnqhCwey4DL4HbDuCPk5gTEVPy3EtVzbk3Dn7AkgR8Ah4Dndh+iiZQIPMIrAMTgAExFS1aS+eRcPDPLSrunhHfAuZjI1jZgVBaj4I5Me2AjMQHJ9HpOmuuGfi7wdlNU75s9HrZWtmBwAmLRKiqkdgAFkTkp0+bq8AqcDMA39etsn1Qm4ADNBI2Dgt1i8Z+6EBedTWsuWTjt2+/lCHRCAEnYRGxnrgVTJZiJNrotVFpxL545s9ErAzYViLUlXOLymtg0gGHP1u0vgEPimhVBR3e15gDQU9cA94C410Ad4BZEfnRBPBGplAvIKqaLgFVTTdCqppuE/s/bJpjtMd6kM4fWdKrRLLLnL8GprtOq2ryLzTJv1LaF4l0X+p980z3s0qTi1gTtRrfRpsAFVMjE4hRq42z2YE2VI2pmR2IUauNs9mBNlSNqZkdiFGrjbMnvNwWQB1PSMUAAAAASUVORK5CYII=" 
                alt="cancel-icon" 
                srcset="">
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!showChatWindow">
    <div [className]="chatContainerBubbleClass">
        <div (click)="openChatWindow()" [className]="chatBoxBubbleClass" [ngStyle]="{ 'background-color': initialParameter.windowColors.primaryColor }">
            <img 
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAgtJREFUaEPt1j+oz2EUx/HXocTgX1FIBhL5M9iIwXSjJGJhUgaTclEGkkEyMSCLwSSDJCaUEmVQl0gYTUSKASGOnvrS7Y6eW7/vreeZv+d8z+fzPuc8T5jgJyZ4/ZqAQRNsBBqBSgdaC1UaWB3eCFRbWJmgEag0sDq8Eai2sDJBI1BpYHX4uBPIzEVYgfcRMTK2wsxcj+n4iKcR8bNGxbgKyMxJuIy1eIkTEfFkdIGZeQvL8BAHI+JTnwTMw9uuoC84HREnxwh4htW4i10RUUj89xlvAsM401WTuNi5/P1vhZnZTwGZOQ2luCX4jFl4h+GIuDoRBKzDHUzGKezDQhzG2Yj4XUT0kkBmlla8gS1l+3QU9uBCJ+pARJSh7q2AsjpvYznudUK24UrXOjtxPSKydwQ69/d2bTMXL/AaC7p1WjQcwfmI+NpHATNRhnQTyqX0bdROnIKp3TAPRcTzPgrYiHNYiWud+381LMUQZmM7yiVWLrZ+3AOZWRw+ikNlPrEqIt6MWpmLywbCVtzEbjzqk4D5OI7NeIUdEVFu4H8nM4+hzEjZVBtwqRv2B9g/0KdEZs7oWmcOPuBxRPwaI6A87AqJIuA+1qDEle9HIuLHf78juqQ18QOPHde30CDUNAGDcH30PxuBRqDSgdZClQZWhzcC1RZWJmgEKg2sDm8Eqi2sTNAIVBpYHf4HFSy0MU6nqfkAAAAASUVORK5CYII=" 
                alt="brand-logo" 
                srcset="">
        </div>      
    </div>  
</ng-container>    


