.chat-box-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    --chat-box-primary-color: '#edefef';
    --chat-box-on-primary-color: 'white';
    --suggestion-border-color: blue;
    --suggestion-foreground-color: black;
    --suggestion-border-color-hover: blue;
    --suggestion-foreground-color-hover: black;
    --font-family: 'Be Vietnam Pro', sans-serif;
    --default-text-color: #0a0a11;
    --default-text-color-light: #090910cc;
    font-size: 14px;
    line-height: 22px;
}

* {
    font-family: var(--font-family) !important;
    -webkit-font-smoothing: antialiased !important;
    font-variation-settings: normal !important;
}

h1 {
    font-size: 20px !important;
    font-weight: 400 !important;
    color: var(--default-text-color) !important;
}

h2 {
    font-size: 18px;
    font-weight: 400 !important;
    color: var(--default-text-color) !important;
}

h3 {
    font-size: 16px;
    font-weight: 400 !important;
    color: var(--default-text-color) !important;
}

h4 {
    font-size: 14px;
    font-weight: 400 !important;
    color: var(--default-text-color) !important;
}

h5 {
    font-size: 12px;
    font-weight: 400 !important;
    color: var(--default-text-color) !important;
}


@media screen and (max-width: 480px) {
    .chat-box-container {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .chat-box-container {
        font-size: 16px;
    }
}