<div style="width: 100%; height: 100%; box-sizing: border-box; max-width: 300px; padding: 4px;">
    <ng-container *ngIf="error$ | async as error; else noerror">
        <h3 style="color: #cc0000; margin: 0;">{{error}}</h3>
    </ng-container>
    <ng-template #noerror>
        <ng-container *ngIf="isUploading; else startcapture">
            <div class="uploading">
                <img [src]="Assets.Gifs.Loading" alt="Loading" srcset="">
                <span>Uploading...</span>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #startcapture>
        <div class="button" (click)="requestPhotoCapture()">
            <img [src]="Assets.Images.FaceScan" alt="Camera icon" srcset="">
            <span style="color: var(--default-text-color)">Capture Face Photo</span>
        </div>
    </ng-template>
</div>