<div style="width: 100%;">
    <ng-container *ngIf="!isBotReply">
        <div @item class="chat-box" [ngStyle]="{'background-color': userColorProfile.backgroundColor }">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
                <span class="chat-box-user" [ngStyle]="{ 'color': userColorProfile.labelColor }"
                    style="margin: auto 0;">{{user}}</span>
            </div>

            <div class="chat-box-message-section">
                <!-- <div markdown ngPreserveWhitespaces class="chat-box-message"  [ngStyle]="{ 'color': userColorProfile.textColor }">
                    {{message.message}}
                </div> -->

                <div class="chat-box-message">
                    <markdown [data]="message.message" ngPreserveWhitespaces
                        [ngStyle]="{ 'color': userColorProfile.textColor }"></markdown>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="isBotReply">
        <div class="chat-box" [ngStyle]="{'background-color': botColorProfile.backgroundColor }">
            <ng-container *ngIf="message.loading; else botLabel">
                <div @item style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">

                    <span class="chat-box-user" [ngStyle]="{ 'color': botColorProfile.labelColor }"
                        style="margin: auto 0;">{{bot}}</span>
                    <img [src]="Assets.Gifs.Loading" alt="loading" srcset="" style="margin-left: 8px; height: 48px;">
                </div>
            </ng-container>


            <div class="chat-box-message-section">
                <ng-container *ngIf="message.warning; else botMessage">
                    <img [src]="Assets.Images.Warning" alt="Warning sign">
                    <div class="chat-box-message">
                        <markdown [data]="message.message" ngPreserveWhitespaces
                            [ngStyle]="{ 'color': userColorProfile.textColor }">
                        </markdown>
                    </div>
                </ng-container>

            </div>
        </div>
        <ng-container *ngIf="message.suggestions && message.suggestions.length > 0">
            <div class="chat-suggestion" [ngStyle]="{'background-color': botColorProfile.backgroundColor}">
                <ng-container *ngFor="let suggestion of message.suggestions">
                    <suggestion-item [message]="suggestion"
                        (onMessageSelected)="onSuggestionSelected($event)"></suggestion-item>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>

</div>

<ng-template #botLabel>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">

        <span class="chat-box-user" [ngStyle]="{ 'color': botColorProfile.labelColor }"
            style="margin: auto 0;">{{bot}}</span>
    </div>
</ng-template>

<ng-template #botMessage>
    <div class="chat-box-message">
        <markdown [data]="message.message" ngPreserveWhitespaces></markdown>
    </div>
    <!-- <div markdown ngPreserveWhitespaces class="chat-box-message"  [ngStyle]="{ 'color': botColorProfile.textColor }">
        {{message.message}}
    </div> -->
    <ng-container *ngIf="allowActionInteraction && message.action">
        <div style="width: 100%;">
            <chat-action [primaryColor]="botColorProfile.labelColor" [action]="message.action"
                (scheduleRequest)="onRequestSearchSchedule($event)" (replyReceived)="onActionReplied($event)"
                (recordVideoRequested)="onRecordVideoRequested($event)" (fileSelected)="onFileSelected($event)"
                (openAppointmentWindow)="onOpenAppointmentWindowRequest($event)"></chat-action>
        </div>

    </ng-container>
</ng-template>