<div style="width: 100%;">
    <ng-container *ngIf="!isBotReply">
        <div @item class="chat-box" [ngStyle]="{'background-color': userColorProfile.backgroundColor }">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">
                <span class="chat-box-user" [ngStyle]="{ 'color': userColorProfile.labelColor }"
                    style="margin: auto 0;">{{user}}</span>
            </div>

            <!-- <div class="chat-box-message-section">
                
            </div> -->
            <ng-container *ngIf="message.style === MessagePreviewTypes.Default">
                <div class="chat-box-message">
                    <markdown [data]="message.message" ngPreserveWhitespaces></markdown>
                </div>
            </ng-container>

            <ng-container *ngIf="message.style === MessagePreviewTypes.Pill && (message.message | choices) as chioces">
                <div class="chat-choices">
                    <ng-container *ngFor="let choice of chioces; let i=index; trackBy:trackChoice.bind(this)">
                        <div class="item-center chat-choice">{{choice}}</div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container
                *ngIf="message.style === MessagePreviewTypes.Attachment && (message.message | attachments) as attachments">
                <!-- <div class="chat-choices">
                    <ng-container *ngFor="let choice of attachments; let i=index; trackBy:trackAttachment.bind(this)">
                        <div class="item-center chat-choice">{{choice}}</div>
                    </ng-container>
                </div> -->

                <span style="flex: 1; color: var(--default-text-color); font-size: 14px; font-weight: 300;">
                    <ng-container *ngIf="attachments.length > 1; else singlefile">
                        Submitted {{attachments.length}} files.
                    </ng-container>

                    <ng-template #singlefile>
                        Submitted 1 file.
                    </ng-template>
                </span>
            </ng-container>

            <ng-container
                *ngIf="message.style === MessagePreviewTypes.Location && (message.message | geolocation) as geolocation">

                <span style="flex: 1; color: var(--default-text-color); font-size: 14px; font-weight: 300;">
                    Shared current location.
                </span>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="isBotReply">
        <div class="chat-box" [ngStyle]="{'background-color': botColorProfile.backgroundColor }">
            <ng-container *ngIf="message.loading; else botLabel">
                <div @item style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">

                    <span class="chat-box-user" [ngStyle]="{ 'color': botColorProfile.labelColor }"
                        style="margin: auto 0;">{{bot}}</span>
                    <img [src]="Assets.Gifs.Loading" alt="loading" srcset="" style="margin-left: 8px; height: 48px;">
                </div>
            </ng-container>


            <ng-container *ngIf="message.warning; else botMessage">
                <div class="chat-box-error-section">
                    <img [src]="Assets.Images.Warning" alt="Warning sign">
                    <div class="chat-box-message" [style.color]="'#cc0000'" [style.font-weight]="500">
                        {{message.message}}
                    </div>
                </div>
                <div class="reload-button mt-2" (click)="retryClicked()">
                    <img [src]="Assets.Images.Refresh" alt="Refresh">
                    <span>Retry</span>
                </div>
            </ng-container>

        </div>
        <ng-container *ngIf="message.suggestions && message.suggestions.length > 0">
            <div class="chat-suggestion" [ngStyle]="{'background-color': botColorProfile.backgroundColor}">
                <ng-container *ngFor="let suggestion of message.suggestions">
                    <suggestion-item [message]="suggestion"
                        (onMessageSelected)="onSuggestionSelected($event)"></suggestion-item>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="message.suggestionObjects && message.suggestionObjects.length > 0">
            <div class="chat-suggestion" [ngStyle]="{'background-color': botColorProfile.backgroundColor}">
                <ng-container *ngFor="let suggestion of message.suggestionObjects">
                    <suggestion-item [queryText]="suggestion.query_text" [message]="suggestion.display_text"
                        (onMessageSelected)="onSuggestionSelected($event)"></suggestion-item>
                </ng-container>
            </div>
        </ng-container>
    </ng-container>

</div>

<ng-template #botLabel>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;">

        <span class="chat-box-user" [ngStyle]="{ 'color': botColorProfile.labelColor }"
            style="margin: auto 0;">{{bot}}</span>
    </div>
</ng-template>

<ng-template #botMessage>
    <ng-container *ngIf="message.style === MessagePreviewTypes.Default">
        <div class="chat-box-message">
            <markdown [data]="message.message" ngPreserveWhitespaces></markdown>
        </div>
    </ng-container>

    <ng-container *ngIf="message.style === MessagePreviewTypes.Pill && (message.message | choices) as chioces">
        <div class="chat-choices">
            <ng-container *ngFor="let choice of chioces; let i=index; trackBy:trackChoice.bind(this)">
                <div class="item-center chat-choice">{{choice}}</div>
            </ng-container>
        </div>
    </ng-container>

    <!-- <div markdown ngPreserveWhitespaces class="chat-box-message"  [ngStyle]="{ 'color': botColorProfile.textColor }">
        {{message.message}}
    </div> -->
    <ng-container *ngIf="allowActionInteraction && message.action">
        <div style="width: 100%;">
            <chat-action [primaryColor]="botColorProfile.labelColor" [action]="message.action"
                (scheduleRequest)="onRequestSearchSchedule($event)" (replyReceived)="onActionReplied($event)"
                (recordVideoRequested)="onRecordVideoRequested($event)" (fileSubmitted)="onFileSelected($event)"
                (capturePhotoRequested)="onCapturePhotoRequested($event)"
                (geoLocationReceived)="onGeolocationReceived($event)"
                (openAppointmentWindow)="onOpenAppointmentWindowRequest($event)"></chat-action>
        </div>

    </ng-container>
</ng-template>