<div class="upload-file-container" [style.--primarycolor]="primaryColor">
    <input type="file" #fileInput style="display: none;" (change)="onFileSelected($event)" [accept]="supportedFiles">
    <div class="file-section">
        <ng-container *ngIf="currentStatus === UploadStatus.None" [ngTemplateOutlet]="uploadfiles"></ng-container>
        <ng-container *ngIf="currentStatus === UploadStatus.FileReceived && selectedFile"
            [ngTemplateOutlet]="filereceived"></ng-container>
        <ng-container *ngIf="currentStatus === UploadStatus.UploadFailed" [ngTemplateOutlet]="error"></ng-container>
        <ng-container *ngIf="currentStatus === UploadStatus.Uploading"
            [ngTemplateOutlet]="fileuploading"></ng-container>
    </div>

</div>

<ng-template #uploadfiles>
    <div class="upload-files" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
        <h3>Drag and drop file here.</h3>

        <div class="upload-button" (click)="fileInput.click()">Upload File</div>
        <span>
            Max. File Size:
            <span class="data">{{maxFileSize}}MB</span>

        </span>
        <span *ngIf="supportedFiles !== '*/*' && supportedFiles.length < 50">
            Supported File Types:
            <span class="data">{{supportedFiles}}</span>
        </span>

    </div>
</ng-template>

<ng-template #filereceived>
    <div class="file-info">
        <img file-to-image [file]="selectedFile!" alt="">
        <span class="data">{{selectedFile!.name}}</span>
        <span>
            File Size:
            <span class="data">{{selectedFile!.size|filesize}}</span>

        </span>
    </div>
    <!-- <div class="button-section">
        <div class="upload-button" (click)="fileInput.click()">
            Change
        </div>
        <div class="upload-button" (click)="onSubmitFile()">
            Submit
        </div>
    </div> -->
    <div class="button-containers buttons-middle">
        <div class="button horizontal-contents" (click)="fileInput.click()">
            <img [src]="Assets.Images.Edit" alt="change">
            <span style="color: #D37242;">Change</span>
        </div>

        <div class="button horizontal-contents" (click)="onSubmitFile()">
            <img [src]="Assets.Images.Sumbit" alt="submit audio record">
            <span style="color: #237558;">Submit</span>
        </div>
    </div>
</ng-template>

<ng-template #fileuploading>
    <div
        style="margin-top: 16px; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
        <img [src]="Assets.Gifs.Loading" alt="loading" srcset="" style="height: 48px;">
        <h5 style="text-align: center; max-width: 80%; margin: 16px 0 0 0; font-weight: 400; font-size: 14px"
            [ngStyle]="{color: primaryColor}">We are uploading your file. This may take some time. Please be
            patient</h5>
    </div>
</ng-template>

<ng-template #error>
    <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; ">
        <span style="color: red; text-align: center; max-width: 80%;">{{errorMessage}}</span>
    </div>
</ng-template>