.chat-box {
    padding: 16px 48px;
}
.chat-box-user {
    font-size: 12px;
    font-weight: 400;
}
  
.chat-box-message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 8px; */
}

.chat-box-message-section img {
    max-width: 72px;
    padding: 8px;
}

.chat-box-message {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.chat-box-message-center {
    text-align: center;
}

::ng-deep .chat-box-message p {
    margin: 0 !important;
    overflow-wrap: break-word !important;
    word-break: break-word !important;  
}

.chat-suggestion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 48px 16px 48px;
    margin: -8px 0 0 0;
}