.chat-box {
    padding: 16px 48px;
}
.chat-box-user {
    font-size: 0.8rem;
    font-weight: 400;
}
  
.chat-box-message-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8px;
}

.chat-box-message-section img {
    width: 64px;
}

.chat-box-message {
    font-size: 1em;
    font-weight: 400;
}

::ng-deep .chat-box-message p {
    margin: 0 !important;
}

.chat-suggestion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 48px 16px 48px;
}