<div class="iframe-container">
    <iframe #iframeElement id="iframe-preview" [src]="trustedurl" frameborder="0"
        (loadstart)="isLoading$.next(true); error$.next(null);" (load)="onLoad()"
        (error)="isLoading$.next(false); error$.next($event.message);"></iframe>
    <ng-container *ngIf="isLoading$ | async">
        <div class="overlay">
            <img [src]="Assets.Gifs.Loading" alt="Loading">
            <span>Please Wait</span>
        </div>
    </ng-container>
    <ng-container *ngIf="error$ | async as error">
        <div class="overlay">
            <img [src]="Assets.Images.Warning" alt="Warning sign">
            <span>{{error}}</span>
        </div>
    </ng-container>
</div>